.appHelpInfoPane {
    background: linear-gradient(135deg, #FAFAFA 0%, #E6E6E6 100%) repeat scroll 0 0 transparent;
    border-width: 0;
    color: #000000;
    font-size: 10pt;
}

.appHelpBox {
    float: left;
    left: -8px;
    margin-bottom: 8px;
    margin-right: 4px;
    position: relative;
    z-index: 5;
}
.appHelpLink {
    color: #0000FF;
    cursor: pointer;
}

